# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tapxqpuhfzymocgdheab.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=tu_publishable_key_real
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_real

# App
NEXT_PUBLIC_APP_URL=http://localhost:3001